@using Newtonsoft.Json
@model ProblemDetails
@{
    ViewData["Title"] = "Api Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>@Model.Title</h3>
<p>
    @Model.Detail
</p>
<p>
    <dl>
        <dt>Problem Type</dt>
        <dd>@Model.Type</dd>

        <dt>Problem Instance</dt>
        <dd>@Model.Instance</dd>
    </dl>
</p>

@Html.DisplayForModel()

<h3>Raw Response</h3>

<p>
    <pre><code class="json">@(Json.Serialize(Model))</code></pre>
</p>

@section Styles
{
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
}

@section Scripts
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
}