@using Clinician.Units
@using Newtonsoft.Json
@model IEnumerable<BloodPressureSampleModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Date</th>
            <th class="text-center">Reading</th>
        </tr>
    </thead>
    <tbody>
    @if (!Model.Any())
    {
        <tr>
            <td class="text-center" colspan="2"><span class="text-muted">No data available</span></td>
        </tr>
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.From)</td>
            <td>

                <div health-diastolic="@item.Diastolic" health-systolic="@item.Systolic" health-unit="mmHg"></div>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (Model.Any())
{

    @await Html.PartialAsync("_ChartingScripts")

    <div id="@SampleDataTypes.BloodPressure" class="ct-chart ct-perfect-fifth"></div>

    <script type="text/javascript">

        var data = @Json.Serialize(new[]
                   {
                       new {name = nameof(BloodPressureSampleModel.Diastolic), data = @Model.Select(d => new {meta = new {category = d.Diastolic.Category(BloodPressureUnits.Diastolic).ToString("G")}, x = d.From.ToString("s"), y = d.Diastolic.ToString("mmHg")})},
                       new {name = nameof(BloodPressureSampleModel.Systolic), data = @Model.Select(d => new {meta = new {category = d.Diastolic.Category(BloodPressureUnits.Diastolic).ToString("G")}, x = d.From.ToString("s"), y = d.Systolic.ToString("mmHg")})},
                   });

        var chart = new Chartist.Line('#@SampleDataTypes.BloodPressure',
            {
                series: data
            },
            {
                axisY: {
                    onlyInteger: true,
                    offset: 10
                },
                axisX: {
                },
                showArea: false,
                showLine: false,
                showPoint: true,
                lineSmooth: Chartist.Interpolation.simple({
                    divisor: 2
                }),
                fullWidth: true,
                chartPadding: {
                    right: 20
                },
                low: 0,
                plugins: [
                ]
            });

        chart.on('draw',
            function(context) {
                if (context.type === 'point') {
                    var colour = '#000000';
                    if (context.meta.category == '@BloodPressureUnitCategory.Low') {
                        colour = '#5bc0de';
                    } else if (context.meta.category == '@BloodPressureUnitCategory.Normal') {
                        colour = '#5cb85c';
                    } else if (context.meta.category == '@BloodPressureUnitCategory.PreHigh') {
                        colour = '#f0ad4e';
                    } else if (context.meta.category == '@BloodPressureUnitCategory.High') {
                        colour = '#d9534f';
                    }

                    // console.log(context);
                    context.element.attr({
                        style: 'stroke: ' + colour,
                    });
                }
            });
    </script>
}